<h2>Ruby Oinarriak</h2>
<h3>Aldagaiak</h3>
<%= link_to 'Indizera','/ikastaroa/index' %>
<p>Ruby lengoaian testuak, zenbakiak eta boolearrak erabil daitezke. Motarik ez dago, beraz definizioak eso errazak dira</p>
<ul>
<li>Testua</li>
<li>Zenbakiak: osoak, errealak</li>
    </ul>
    <p>Lerro anitzeko iruzkinak modu askotan egin daitezke</p>
<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/bce4b74d8a4354fc2a50a60a206a26f2.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/JpsK/1.js"></script>