<h2>Ruby Oinarriak</h2>
<h3>Iruzkinak</h3>
<%= link_to 'Indizera','/ikastaroa/index' %>
<p>Ruby lengoaian iruzkinak sar daitezke, bi motatakoak printzipioz</p>
<ul><li>Lerro bakarrekoak</li>
<li>Lerro anitzekoak</li>
    </ul>
    <p>Lerro anitzeko iruzkinak modu askotan egin daitezke</p>
<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/a697c34380d3a861033b682045a8ffca.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/Jmek/3.js"></script>