<h2>Ruby Oinarriak</h2>
<h3>Baldintzak</h3>

<p>Ruby-n baldintza blokeak oso xinpleak dira, baina modu ezberdinetan erabil daitezke</p>

<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/b6f2aa7c0abfca143565b6566d6751d8.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpsk/1.js"></script>