<h2><i class="fa fa-diamond" aria-hidden="true"></i>Ruby Oinarriak</h2>
<h3>Eragileak</h3>
<p>Eragileak beste lengoaietan aurki daitzkeenak dira</p>
<ul><li>Aritmetikoak</li>
<li>Logikoak</li>
<li>Konparazio eragileak</li>
    </ul>
    <p>Lerro anitzeko iruzkinak modu askotan egin daitezke</p>
<h4><i class="fa fa-code" aria-hidden="true"></i> Kodea</h4>
<script src="https://gist.github.com/pxai/ba7402620d0568d8aac106d924c592ff.js"></script>
<h4><i class="fa fa-laptop" aria-hidden="true"></i> Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpsb/1.js"></script>