<h2>Ruby Oinarriak</h2>
<h3>Eragileak</h3>
<%= link_to 'Indizera','/ikastaroa/index' %>
<p>Eragileak beste lengoaietan aurki daitzkeenak dira</p>
<ul><li>Aritmetikoak</li>
<li>Logikoak</li>
<li>Konparazio eragileak</li>
    </ul>
    <p>Lerro anitzeko iruzkinak modu askotan egin daitezke</p>
<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/ba7402620d0568d8aac106d924c592ff.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpsb/1.js"></script>