<h2><i class="fa fa-diamond" aria-hidden="true"></i>Ruby Oinarriak</h2>
<h3>Funtzioak</h3>
<p>Funtzioak egitea oso xinplea da. Parametroekin ala parámetrorik gabe, return batekin ala return gabe.</p>

<h4><i class="fa fa-code" aria-hidden="true"></i> Kodea</h4>
<script src="https://gist.github.com/pxai/9334d6b540acdef657b8eb0ef6fe5837.js"></script>
<h4><i class="fa fa-laptop" aria-hidden="true"></i> Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpub/1.js"></script>