<h2>Ruby Oinarriak</h2>
<h3>Klaseak</h3>
<%= link_to 'Indizera','/ikastaroa/index' %>
<p>Klaseen definizioa Ruby lengoaian, class bitartez egiten da. Instantziak sortzeko
orduan, gauzak pixkat aldatzen dira. Adi kodeari</p>

<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/bf9748f133854eccd57c17de5a063d86.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpuv/1.js"></script>