<h2><i class="fa fa-diamond" aria-hidden="true"></i>Ruby Oinarriak</h2>
<h3>Klaseak</h3>
<p>Klaseen definizioa Ruby lengoaian, class bitartez egiten da. Instantziak sortzeko
orduan, gauzak pixkat aldatzen dira. Adi kodeari</p>

<h4><i class="fa fa-code" aria-hidden="true"></i> Kodea</h4>
<script src="https://gist.github.com/pxai/bf9748f133854eccd57c17de5a063d86.js"></script>
<h4><i class="fa fa-laptop" aria-hidden="true"></i> Zeuk probatu!</h4>
<script src="//repl.it/embed/Jpuv/1.js"></script>