<h2><i class="fa fa-diamond" aria-hidden="true"></i>Ruby Oinarriak</h2>
<h3>Klase atzipena</h3>
<p>Klaseen baten metodoak 3 motatakoak izan daitezke</p>
<ol>
<li>public</li>
<li>protected</li>
<li>private</li>

</ol>
<p>Ezer jarriz gero, public bezala hartzen dira. Bi modutan ezar daitezke, adibidean ikusten den bezala.</p>
<h4><i class="fa fa-code" aria-hidden="true"></i> Kodea</h4>
<script src="https://gist.github.com/pxai/8d51f017a8ed7d7081a5d91014a8655d.js"></script>
<h4><i class="fa fa-laptop" aria-hidden="true"></i> Zeuk probatu!</h4>
<script src="//repl.it/embed/JpvC/1.js"></script>