<h2>Ruby Oinarriak</h2>
<h3>Salbuespenak</h3>
<%= link_to 'Indizera','/ikastaroa/index' %>
<p>Salbuespenak bloke berezi batzuekin egiten da, begin-rescue-end.
<h4>Kodea</h4>
<script src="https://gist.github.com/pxai/2bef821d9ce83f25d5efc8acc60fa829.js"></script>
<h4>Zeuk probatu!</h4>
<script src="//repl.it/embed/JqD2/0.js"></script>